<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">  

    

    <bean class ="com.vickee.SpringProject.Employee" name ="emp" id="emp">
    
    <!-- <property name="id" value="123"></property>
 	<property name="name" value="vickee"></property> -->
 	
 	<constructor-arg name="id" value="101"></constructor-arg>
 	<constructor-arg name="name" value="velan"></constructor-arg>
 	
    </bean>
    
    <bean class ="com.vickee.SpringProject.Student" name="emp1">
    <property name="id" value="124"></property>
    <property name="name" value="aravind"></property>
    </bean>
</beans>