<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">  
 
    

    
    <bean class ="com.raj.Scope.Student" name="std" scope="singleton">
	    <property name="Student_id" value="777"></property>
	    <property name="Student_name" value="ponraj"></property>
    </bean>
    
    
    
    
    
</beans>