body{
    background-image:  url('upibg.png');
    background-repeat: no-repeat;
    background-size: cover;

}

table{
    font-weight: bolder;
    font-family: cursive;
   margin-top: 100px;
    margin-left: 475px;
    backdrop-filter: blur(2px);
    font-size: 25px;
    padding: 50px;
}

#submit{
    background-color: transparent;
}


#upino{
    border-radius: 50px;
    width: 250px;
    height: 50px;
    font-size: 30px;
}

#submit{
    border-radius: 100px;
    width: 250px;
    height: 50px;
    font-size: 30px;
    margin-left:10px;
    backdrop-filter: blur(80px);
}

#submit:hover{
    background-color:rgb(86, 225, 179)
}