body{
    background-image:  url('upibg.png');
    background-repeat: no-repeat;
    background-size: cover;

}

table{
    font-weight: bolder;
    font-family: cursive;
    margin-top: 100px;
    margin-left: 400px;
    backdrop-filter: blur(2px);
    font-size: 25px;
    padding: 100px;
}

#upino{
    border-radius: 50px;
    width: 250px;
    height: 50px;
    font-size: 30px;
}

#submit{
    border-radius: 50px;
    width: 250px;
    height: 50px;
    font-size: 30px;
    margin-left: 57px;
}