body{
    background-image: linear-gradient(to left,rgb(99, 0, 99),rgb(1, 1, 99));
}

.todo{
    border-radius: 80px;
}

img{
    width:25px;
    height: 25px;
    position: absolute;
    margin-top:-50px;
    margin-left:100px;
}

/* 
h1{
    margin-left: 0px;
} */

#text{
    margin-left: 80px;
    border-radius: 50px;
    border-style: double;
    padding: 10px;
}

h2,#list{
    color: white;
}
#orange{
    color: orangered;
    position: absolute;
    margin-top: 50px;
    margin-left: 0px;
}

#list{
    position: absolute;
    margin-top: 50px;
    margin-left: 95px;
}

#last{
    position: absolute;
    margin-top: 100px;
    margin-left: 0px;
}
.todo{
    display: block;
    position: absolute;
    /* margin-top: 100px; */
    margin-top: 100px;
    margin-left:300px;
    background-color: white;
    width: 400px;
    height: 400px;
    align-content: center;
}

.msg{
    display: inline-flex;
    position: absolute;
    /* margin-top: 100px; */
    margin-top: 150px;
    margin-left:750px;
    width: 400px;
    height: 400px;
    align-content: center;
}

#button{
    border-radius: 70px;
    position: absolute;
    width:100px;
    height: 40px;
    margin-left: -50px;
    background-color: rgba(255, 68, 0, 0.967);
    color: white;
    font-size: 12px;
}

.check{
    display: block;
    position: absolute;
    margin-top: 300px;
    margin-left:380px;
    background-color: white;
    align-content: center;
}
