[submodule "Git/12228-Nagarjun"]
	path = Git/12228-Nagarjun
	url = https://github.com/senathipathiks/2024_Java_Batch5.git
[submodule "Git/Assess/Team4"]
	path = Git/Assess/Team4
	url = https://github.com/senathipathiks/2024_Java_Batch5.git
