<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>MyServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyServ</display-name>
    <servlet-name>MyServ</servlet-name>
    <servlet-class>MyServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServ</servlet-name>
    <url-pattern>/MyServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MultiplicationServlet</display-name>
    <servlet-name>MultiplicationServlet</servlet-name>
    <servlet-class>MultiplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultiplicationServlet</servlet-name>
    <url-pattern>/MultiplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SIServlet</display-name>
    <servlet-name>SIServlet</servlet-name>
    <servlet-class>SIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SIServlet</servlet-name>
    <url-pattern>/SIServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WElcomeServlet</display-name>
    <servlet-name>WElcomeServlet</servlet-name>
    <servlet-class>WElcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WElcomeServlet</servlet-name>
    <url-pattern>/WElcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SentItem</display-name>
    <servlet-name>SentItem</servlet-name>
    <servlet-class>SentItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentItem</servlet-name>
    <url-pattern>/SentItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfilePage</display-name>
    <servlet-name>ProfilePage</servlet-name>
    <servlet-class>ProfilePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilePage</servlet-name>
    <url-pattern>/ProfilePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Button</display-name>
    <servlet-name>Button</servlet-name>
    <servlet-class>Button</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Button</servlet-name>
    <url-pattern>/Button</url-pattern>
  </servlet-mapping>
</web-app>