body{
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/022/769/837/small_2x/beautiful-pink-rose-flower-frame-with-watercolor-for-wedding-birthday-card-background-invitation-wallpaper-sticker-decoration-etc-vector.jpg');
    background-size: 100% 100%;
   z-index: -1;
   width: 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;

} 