@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div #app2{
  margin-top: 40px;
  text-align: center;
}
table{
  border-radius: 10px;
}

div #add2{
  background: url('https://pearlsol.com/img/breadcrumb/hd%20blog%20pic.jpg');
  background:cover;
}
div #edit2{
  background: url('https://pearlsol.com/img/breadcrumb/hd%20blog%20pic.jpg');
  background:cover;
}

div{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}