
body{
    margin: 8%;
}
.but{
    border: none;
}
#in{
    padding: 20px 50px;
    text-align: end;
    border-radius: 20px;
    background-color: gainsboro;
    border:none;
}
.l1{
    color: black;
    background-color: rgb(196, 199, 199);
    padding: 20px 18px;
    border-radius: 50%;
    font-size: 18px;
    border:none;
}
.l2{
    color: black;
    background-color: rgb(196, 199, 199);
    padding: 20px 20px;
    border-radius: 50%;
    font-size: 18px;
    border:none;
}
.op{
    color: black;
    background-color: rgb(255, 185, 73);
    padding: 18px 25px;
    border-radius: 50%;
    font-size: 18px;
    border:none;
}
.but{
    color: black;
    background-color: rgb(180, 175, 167);
    padding: 18px 24px;
    border-radius: 50%;
    font-size: 18px;
    border:none;
}
.but1{
    color: black;
    background-color: rgb(180, 175, 167);
    padding: 18px 25px;
    border-radius: 50%;
    font-size: 18px;
    border:none;
}
.zero{
    color: black;
    background-color: rgb(180, 175, 167);
    padding: 18px 25px;
    width: 120px;
    border-radius: 35px;
    font-size: 18px;
    border:none;
}
.but:hover{
    background-color: whitesmoke;
}
#box{
    box-shadow:0 4px 10px rgba(0,0,0.4);
    border-radius: 20px;
    padding: 18px 10px;
    width: fit-content;
    align-content: center;
}
