@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
    margin: 0px;
    font-family: "Poppins", sans-serif;
}
.container{
    position: absolute;
    width: 18rem;
    padding: 16px;
    margin-left: 40rem;
    margin-top: 6rem;
    border: black solid 1px;
    border-radius: 5px;
}

h1{
    margin-bottom: 10px;
    letter-spacing: 1px;
}

input[type=text]{
    width: 88%;
    padding: 15px;
    margin: 5px 0 22px 0;
}

input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }

  .btn {
    background-color: #0088f7;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }
  p{
    margin: 1px;
    margin-block-start: -15px;
    color: red;
  }