<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>MyServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyServletOne</display-name>
    <servlet-name>MyServletOne</servlet-name>
    <servlet-class>MyServletOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServletOne</servlet-name>
    <url-pattern>/MyServletOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableServlet</display-name>
    <servlet-name>TableServlet</servlet-name>
    <servlet-class>TableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableServlet</servlet-name>
    <url-pattern>/TableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableServlets</display-name>
    <servlet-name>TableServlets</servlet-name>
    <servlet-class>TableServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableServlets</servlet-name>
    <url-pattern>/TableServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SimpleInterestServlet</display-name>
    <servlet-name>SimpleInterestServlet</servlet-name>
    <servlet-class>SimpleInterestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleInterestServlet</servlet-name>
    <url-pattern>/SimpleInterestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetailServlet</display-name>
    <servlet-name>UserDetailServlet</servlet-name>
    <servlet-class>UserDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetailServlet</servlet-name>
    <url-pattern>/UserDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginRequestDispatcherServlet</display-name>
    <servlet-name>LoginRequestDispatcherServlet</servlet-name>
    <servlet-class>LoginRequestDispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginRequestDispatcherServlet</servlet-name>
    <url-pattern>/LoginRequestDispatcherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex1Servlet</display-name>
    <servlet-name>Ex1Servlet</servlet-name>
    <servlet-class>Ex1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex1Servlet</servlet-name>
    <url-pattern>/Ex1Servlet</url-pattern>
  </servlet-mapping>
  
</web-app>