<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>MY_Servlet_project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyServletnew</display-name>
    <servlet-name>MyServletnew</servlet-name>
    <servlet-class>MyServletnew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServletnew</servlet-name>
    <url-pattern>/MyServletnew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableMul</display-name>
    <servlet-name>TableMul</servlet-name>
    <servlet-class>TableMul</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableMul</servlet-name>
    <url-pattern>/TableMul</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>additionoftwonumbers</display-name>
    <servlet-name>additionoftwonumbers</servlet-name>
    <servlet-class>additionoftwonumbers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>additionoftwonumbers</servlet-name>
    <url-pattern>/additionoftwonumbers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>table_assign</display-name>
    <servlet-name>table_assign</servlet-name>
    <servlet-class>table_assign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>table_assign</servlet-name>
    <url-pattern>/table_assign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet_pages</display-name>
    <servlet-name>LoginServlet_pages</servlet-name>
    <servlet-class>LoginServlet_pages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet_pages</servlet-name>
    <url-pattern>/LoginServlet_pages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sentitem</display-name>
    <servlet-name>sentitem</servlet-name>
    <servlet-class>sentitem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sentitem</servlet-name>
    <url-pattern>/sentitem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Firstbutton</display-name>
    <servlet-name>Firstbutton</servlet-name>
    <servlet-class>Firstbutton</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Firstbutton</servlet-name>
    <url-pattern>/Firstbutton</url-pattern>
  </servlet-mapping>
</web-app>