<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>MyProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JavaServlet</display-name>
    <servlet-name>JavaServlet</servlet-name>
    <servlet-class>JavaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JavaServlet</servlet-name>
    <url-pattern>/JavaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JavaEx1</display-name>
    <servlet-name>JavaEx1</servlet-name>
    <servlet-class>JavaEx1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JavaEx1</servlet-name>
    <url-pattern>/JavaEx1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCred</display-name>
    <servlet-name>LoginCred</servlet-name>
    <servlet-class>LoginCred</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCred</servlet-name>
    <url-pattern>/LoginCred</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addition</display-name>
    <servlet-name>Addition</servlet-name>
    <servlet-class>Addition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addition</servlet-name>
    <url-pattern>/Addition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SimpleInterest</display-name>
    <servlet-name>SimpleInterest</servlet-name>
    <servlet-class>SimpleInterest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleInterest</servlet-name>
    <url-pattern>/SimpleInterest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Multiplication</display-name>
    <servlet-name>Multiplication</servlet-name>
    <servlet-class>Multiplication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Multiplication</servlet-name>
    <url-pattern>/Multiplication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
   <context-param>
        <param-name>uploadDirectory</param-name>
        <param-value>/WEB-INF/uploads</param-value>
    </context-param>
</web-app>