#icon{
    margin-right: 1rem;
    padding-left: 2rem;
}
button{
    border: none;
    background-color: #F8F9FA;
}
button[type=button]{
    border: red solid 1px;
    margin-left: 3rem;
    height: 3rem;
}