<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">  
 
    
 
    <!--<bean class ="com.ani.SpringBootEx.Employees" name ="emp" id="emp">
    
    <property name="id" value="123"></property>
	<property name="name" value="Ani"></property>
	
	<constructor-arg name="id" value="101"></constructor-arg>
	<constructor-arg name="name" value="velan"></constructor-arg> 
    </bean> -->
    
    <bean class ="com.ani.dependency.Address" name ="emp">
    
    <property name="doorno" value="447"></property>
	<property name="strname" value="ABC"></property>
	<property name="city" value="Tirunelveli"></property>
	

    </bean>
    
        <bean class ="com.ani.dependency.Address" name ="emp1">
    
    <property name="doorno" value="1"></property>
	<property name="strname" value="ABC"></property>
	<property name="city" value="KCET"></property>
	

    </bean>
    
     <bean class ="com.ani.dependency.Student" name ="e">
    
    <property name="id" value="123"></property>
	<property name="name" value="Kingse"></property>
	<property name="address" >
	<list>
	<ref bean="emp" />
	<ref bean="emp1" />
	</list>
	
	</property>
    </bean>
  
</beans>