body {
  background-image: url("park.png");
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Bigelow Rules", serif;
  font-weight: 1000;
  font-style: normal;
}
h1 {
  font-size: xxx-large;
}
p {
  font-size: x-large;
}
#ab {
  background-color: transparent;
  backdrop-filter: blur(10px);
  text-align: center;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  width: 800px;
  margin-top: 60px;
}
#navbar {
  width: 180%;
  height: 40px;
  background-color: transparent;
  box-shadow: 0 5px 10px black;
  padding-top: 20px;
  padding-bottom: 30px;
  backdrop-filter: blur(7px);
  margin-left: -330px;
  margin-top: -70px;
  border-radius: 10px;
}
#but {
  float: right;
  margin-right: 30px;
  background-color: transparent;
  font-size: 30px;
  margin-top: 11px;
  border-radius: 10px;
  border: 2px solid rgb(50, 49, 49);
}

#a2,
#a3 {
  text-decoration: none;
  color: black;
  float: right;
  margin-right: 30px;
  width: 120px;
  margin-top: 10px;
  text-align: center;
  height: 30px;
  padding-top: 5px;
  border-radius: 15px;
  border: 2px solid rgb(50, 49, 49);
  font-size: x-large;
}
#a1,
#a4 {
  text-decoration: none;
  color: black;
  float: right;
  margin-right: 30px;
  margin-top: 10px;
  width: 90px;
  height: 30px;
  padding-top: 5px;
  text-align: center;
  border-radius: 15px;
  border: 2px solid rgb(50, 49, 49);
  font-size: x-large;
}

span {
  margin-left: 50px;
  font-family: "Bigelow Rules", serif;
  font-weight: 1000;
  font-style: normal;
  font-size: 50px;
}

#a4 {
  color: aqua;
  border-color: aqua;
}
#a3:hover {
  color: aqua;
  border-color: aqua;
}
#a2:hover {
  color: aqua;
  border-color: aqua;
}
#a1:hover {
  color: aqua;
  border-color: aqua;
}
#but:hover {
  color: aqua;
  border-color: aqua;
}
