.containersign {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  
  .btton {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btton-primary {
    background-color: #4CAF50;
    color: #fff;
    width: 200px;
  }
  
  .btton-secondary {
    background-color: #999;
    color: #fff;
  }
  
  @media (max-width: 767.98px) {
   .containersign {
      margin: 20px auto;
    }
  }