#body {
   
    padding: 20px;
    margin-left: 200px;
   
  }
  
  body{
 
      background-image: url('gym2.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      animation: ani 1s ease-in forwards;
  }
  
  .table-striped {
    border-collapse: separate;
    border-spacing: 0 10px;
  }
  
  .table-dark {
    background-color: #343a40;
    color: #fff;
  }
  
  .table-dark th,
  .table-dark td {
    border-color: #454d55;
    padding-left: 50px;
  }
  
  .table-hover tbody tr:hover {
    background-color: #454d55;
    color: #fff;
  }
  
  .btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #fff;
    margin-left:1100px ;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
  }
  .table-container{
    margin-left: 300px;
  }
  #app2{
    font-size: 55px;
    margin-left: 330px;
    color: antiquewhite;
  }