<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Servlet_Ex1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServletEx1</display-name>
    <servlet-name>MyServletEx1</servlet-name>
    <servlet-class>MyServletEx1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServletEx1</servlet-name>
    <url-pattern>/MyServletEx1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableFormat</display-name>
    <servlet-name>TableFormat</servlet-name>
    <servlet-class>TableFormat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableFormat</servlet-name>
    <url-pattern>/TableFormat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addition</display-name>
    <servlet-name>Addition</servlet-name>
    <servlet-class>Addition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addition</servlet-name>
    <url-pattern>/Addition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SimpleInterest</display-name>
    <servlet-name>SimpleInterest</servlet-name>
    <servlet-class>SimpleInterest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleInterest</servlet-name>
    <url-pattern>/SimpleInterest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Multiplication</display-name>
    <servlet-name>Multiplication</servlet-name>
    <servlet-class>Multiplication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Multiplication</servlet-name>
    <url-pattern>/Multiplication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginRedirect</display-name>
    <servlet-name>LoginRedirect</servlet-name>
    <servlet-class>LoginRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginRedirect</servlet-name>
    <url-pattern>/LoginRedirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManyRedirect</display-name>
    <servlet-name>ManyRedirect</servlet-name>
    <servlet-class>ManyRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManyRedirect</servlet-name>
    <url-pattern>/ManyRedirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReqDispatcher</display-name>
    <servlet-name>ReqDispatcher</servlet-name>
    <servlet-class>ReqDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReqDispatcher</servlet-name>
    <url-pattern>/ReqDispatcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploader</display-name>
    <servlet-name>FileUploader</servlet-name>
    <servlet-class>FileUploader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploader</servlet-name>
    <url-pattern>/FileUploader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionEx</display-name>
    <servlet-name>SessionEx</servlet-name>
    <servlet-class>SessionEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionEx</servlet-name>
    <url-pattern>/SessionEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionWelcomeEx</display-name>
    <servlet-name>SessionWelcomeEx</servlet-name>
    <servlet-class>SessionWelcomeEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionWelcomeEx</servlet-name>
    <url-pattern>/SessionWelcomeEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionWelcomeGuestEx</display-name>
    <servlet-name>SessionWelcomeGuestEx</servlet-name>
    <servlet-class>SessionWelcomeGuestEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionWelcomeGuestEx</servlet-name>
    <url-pattern>/SessionWelcomeGuestEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionEx1</display-name>
    <servlet-name>SessionEx1</servlet-name>
    <servlet-class>cookies_sessions.SessionEx1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionEx1</servlet-name>
    <url-pattern>/SessionEx1</url-pattern>
  </servlet-mapping>
</web-app>