header{
    background-color: blue;
    position: fixed;
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
}
header *{
    display: inline;
}
header li{
    margin: 20px;
}
header li a{
    text-decoration: none;
    color: white;
}