div #app2{
    margin-top: 5rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
table{
    border-radius: 10px;
}

div #add2{
    background: url('https://pearlsol.com/img/breadcrumb/hd%20blog%20pic.jpg');
    background:cover;
}
div #edit2{

    background: url('https://pearlsol.com/img/breadcrumb/hd%20blog%20pic.jpg');
    background:cover;

}
div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#align{
    text-align: center;
}
#value{
    width: 100%;
}
#wel{
    color:rgb(255, 255, 255);
    text-align: center;
    margin-top: 3%;
}
body{
    background-image: url(wall.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#nav{
    background-color: rgba(0, 0, 0, 0.504);
}