*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#bg{
  width: 100%;
  height: 500px;
  margin-left: 0%;
}
#head{
  display:'flex';
  align-Items:"center";
  justify-Content:"center"
}
.mar{
  padding: 0.5rem;
  color:red;
  background-color: bisque;
}

.card{
  width: 18rem;
  background-color: aliceblue;
}
.card-title{
  color:rgb(216, 134, 27);
}

.carousel-item  img{
  width: 90%;
  margin-left: 4rem;
}

.d-block{
  width:20px;
  height: 500px;

}

.f1{
  justify-content: center; 
  text-align: justify;
}
.f2{
  text-decoration: none;
}

.f3{
  margin-left: 10%;
}

#email{
  height:2rem;
  gap: 1rem;
}

.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}


#sec2{
  padding: 8rem;
}
#sec2 h1{
  color: #E1306C;
  margin-right: 0;
  margin-left: 35%;
  box-shadow: #ff0000;
  border: 7px solid rgb(125, 6, 121);
  width: 18rem;
  background-color: beige;
  border-radius: 1rem;
 
}


#sec3 h1{
  color: #E1306C;
  margin-right: 0;
  margin-left: 35%;
  box-shadow: #ff0000;
  border: 7px solid rgb(125, 6, 121);
  width: 25rem;
  background-color: beige;
  border-radius: 1rem;
  justify-content: space-around;
 
}

#sec4{
  background-color: gray;
}


.card {
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.card.zoomed {
  transform: scale(1.9); /* Increase the value for more zoom */
}

#des{
    margin-top: 5rem;
    color: #E1306C;
    margin-right: 0;
    margin-left: 35%;
    box-shadow: #ff0000;
    border: 7px solid rgb(125, 6, 121);
    width: 25rem;
    background-color: beige;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-around;
   
  
}

#bi{
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20230526/pngtree-an-old-bookcase-in-a-library-image_2642908.jpg');
}