body{
    background-color:bisque;
}
table{
    background-color:bisque;
}
#tk{
    background-color:gray;
}
#b{
    border: 10px;
    border-width: 10px;
    /* border-style: dashed; */
    
}