*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    border: 1px solid;
    width: fit-content;
    margin: 20px auto;
    background-color:blue;
    /* height: fit-content; */
}
.btn {
    margin: 2px;
    /* border: 1px solid red; */
}
.eq {
    width: 225px;
    background-color: blanchedalmond;
}
button
{
    margin: 2px;
    width: 50px;
    height: 50px;
    background-color: red;
}

#bar
{
    width: 233px;
    height: 50px;
    margin: 2px;
    background-color: white;
    font-size: xx-large;
}