body{
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: flex;
            align-items: center;
            justify-content: center; */
}
/* h1{
    text-align: center;
} */
.in {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}
button {
    background-color: #0d3828;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}
button:hover {
    opacity: 0.9;
}
.container {
    padding: 20%;
    /* border: 3px solid red; */
}