nav{
    background-color: black;
    color: white;
    
}

#maindiv{
    display: flex;
    flex-direction: row;
    gap: 10%;
    padding: 1% 10%;

}

#maindiv button{
    background-color: transparent;
    border: none;
    color: white;
}

#maindiv button:hover{
    color: aqua;
    transform: scale(1.5);
}

