header{
    position: fixed;
    display: flex;
    background-color: red;
    border-width: 0.5rem;
    top: 0;
    left: 0;
    right: 0;
}
header *{
    display: inline;
   margin: 5px;
}
header li a{
    text-decoration: none;
    color: black;
    text-align: center;
    justify-content: center;
 
}
