#id1 {
    color: brown;
    background-color: bisque;

}
#id2{
    text-align: center;
    text-decoration:underline;
    font-size: xx-large;
    color: aqua;
}
.bg{
    color: blue;
    
}
body{
    background-color: ;
    background-repeat: ;
    background-attachment: ;
    background-position: ;
}
h1{
    background: linear-gradient();
}