body {
    /* background-position: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Bigelow Rules", serif;
    font-weight: 1000;
    font-style: normal;
  }
  h1 {
    font-size: xxx-large;
  }
  #add {
    font-size: x-large;
    margin-left: -550px;
    margin-top: -5px;
  }
  #ab {
    background-color: transparent;
    backdrop-filter: blur(10px);
    text-align: center;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    width: 600px;
    margin-top: 100px;
  }
  #navbar {
    width: 238%;
    height: 40px;
    background-color: transparent;
    box-shadow: 0 5px 10px black;
    padding-top: 20px;
    padding-bottom: 30px;
    backdrop-filter: blur(7px);
    margin-left: -430px;
    margin-top: -140px;
    border-radius: 10px;
  }
  #but {
    float: right;
    margin-right: 30px;
    background-color: transparent;
    font-size: 30px;
    margin-top: 11px;
    border-radius: 10px;
    border: 2px solid rgb(50, 49, 49);
  }
  
  #a2,
  #a3 {
    text-decoration: none;
    color: black;
    float: right;
    margin-right: 30px;
    width: 120px;
    margin-top: 10px;
    text-align: center;
    height: 30px;
    padding-top: 5px;
    border-radius: 15px;
    border: 2px solid rgb(50, 49, 49);
    font-size: x-large;
  }
  #a1,
  #a4 {
    text-decoration: none;
    color: black;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    width: 90px;
    height: 30px;
    padding-top: 5px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid rgb(50, 49, 49);
    font-size: x-large;
  }
  
  span {
    margin-left: 50px;
    font-family: "Bigelow Rules", serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 50px;
  }
  
  #a4:hover {
    color: aqua;
    border-color: aqua;
  }
  #a3:hover {
    color: aqua;
    border-color: aqua;
  }
  #a2:hover {
    color: aqua;
    border-color: aqua;
  }
  #a1 {
    color: aqua;
    border-color: aqua;
  }
  #but:hover {
    color: aqua;
    border-color: aqua;
    transform: scale(1.3);
  }
  #uname,
  #email,
  #pword {
    font-family: "Bigelow Rules", serif;
    font-weight: 1000;
    font-style: normal;
    font-size: larger;
    width: 250px;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
  }
  .name,
  .pass {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
  }
  
  #submit {
    height: 40px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: darkblue;
    color: white;
    box-shadow: 0 5px 10px;
    cursor: pointer;
    font-family: "Bigelow Rules", serif;
    font-weight: 1000;
    font-style: normal;
    font-size: larger;
  }
  
  #submit a {
    text-decoration: none;
    color: white;
  }
  
  #new {
    font-size: larger;
  }
  #new a {
    text-decoration: none;
    color: white;
  }
  