.App {
  text-align: center;
}

.box{
  border: 2px solid black;
  padding: 10px;
  width: 300px;
  margin: 10px auto;
}

.box-1,.box-2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button{
  background:none;
  border: 0.1px solid black;
  padding: 10px;
  border-radius: 3px;
  margin: 10px;

}
header{
  background-color: rgb(232, 192, 82);
  position: fixed;
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
}
header *{
  display: inline;
}
header li{
  margin: 20px;
}
header li a{
  text-decoration: none;
  color: white;
}