<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
   
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/stud_db</property>
    <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root</property>
    <property name="show_sql">true</property>
    
    <property name="hbm2ddl.auto">update</property>
    
    <!-- <mapping resource="Employee.hbm.xml" ></mapping> 
    instead of this we have to use class beacuse we use the annotation class-->
    
    <!--if we use addannotated in app.java we don't need to use mapping here but if we put mapping no problem -->
    <mapping class="com.subash.HibernateEx5InheritanceMapping.CricketPlayer"></mapping>
    <mapping class="com.subash.HibernateEx5InheritanceMapping.Batsman"></mapping>
    <mapping class="com.subash.HibernateEx5InheritanceMapping.Bowler"></mapping>
    
    

  </session-factory>
</hibernate-configuration>