.but{
    margin-left: 1000px;
    margin-top: 40px; 
    background-color: transparent;    
}

.title{
    margin-top: 200px;
    margin-left: 300px;
}

#login,#signup,#home,#about{
    border: none;
    background-color: transparent;
    font-size: 15px;
}


#login:hover,#signup:hover,#home:hover,#about:hover{
    transform: scale(1.1);
}

body{
    background-image:url('e-comm_bg.jpg');
    background-size: cover;
    opacity: 0;
    animation: fadeIn 1s ease-in;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {  
    from {  
        opacity:0;  
    }  
 
    to {  
        opacity:1;  
    }  
 }

h1,h2{
  font-family: "Caveat", cursive;
  font-style: normal;
  font-size: 30px;
}